@import "./base.css";
@import "./tokens.css";

/* Common */
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 16px;
  background-color: var(--color-neutral-50);
}

.btn {
  background: var(--color-neutral-900);
  color: var(--color-neutral-50);
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}

.btn:disabled {
  opacity: .6;
  cursor: not-allowed;
}

/* Specific */
