:root {
    --bg: #ffffff;
    --surface: #ffffff;
    --border: #eeeeee;

    --text: #111111;
    --text-muted: #6b7280;

    --accent: #0b5fff;
    --accent-contrast: #ffffff;
}

/* Tempat override nanti:
.theme-men   { --bg:#f8fafc; --accent:#1f3a8a; --text:#0f172a; }
.theme-women { --bg:#fff7fb; --accent:#d81b60; --text:#3a0f1f; } */