:root {
    --color-primary: #002772;
    --color-primary-light: #d6e6ff;

    --color-secondary: #720060;
    --color-secondary-light: #fde2ff;

    --color-neutral-900: #1e1e1e;
    --color-neutral-700: #3f3f3f;
    --color-neutral-400: #dcdcdc;
    --color-neutral-50: #ffffff;

    --color-text-primary: var(--color-neutral-900);
    --color-text-secondary: var(--color-neutral-700);
    --color-border: var(--color-neutral-400);
    --color-bg: var(--color-neutral-50);
}